@{
    ViewBag.Title = "SendRestRequest";
}

<div style="align-content:center">
    <h2>Location</h2>

    <h2>@ViewBag.jsonTimeZoneName</h2>
    <h2>@ViewBag.jsonTimeZoneId</h2>

    <h2>@ViewBag.latitudeNumber</h2>
    <h2>@ViewBag.longitudeNumber</h2>

    <h2>Your Time:@ViewBag.thetime</h2>

</div>
